# Build outputs
desktop-app/bin/
desktop-app/obj/

# VS user settings
*.user
*.suo
.vs/

# NuGet restore cache
*.nupkg
*.snupkg

# Arduino build artifacts
firmware/leonardo-wheel/build/
*.hex
*.elf

# macOS
.DS_Store

# Windows thumbnails
Thumbs.db
